Package: com.gilshahar7.instantassistant
Name: InstantAssistant
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Always launches the Google Assistant in "listening mode"
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
